<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hello world</title>
</head>
<body>

<h1>Hello World</h1>
<h1>i'm the king</h1>
<form method="post" action="/pipelineTest/MarkeTa-Bulls/login">
<input name="Username" type="text" value="Enter your email">
<input name="password" type="password" value="password">
<input type="submit" value="login">
</form>
<form method="post" action="/pipelineTest/MarkeTa-Bulls/CreateUser">
<input name="username" type="text" value="Enter your email">
<input name="password" type="password" value="password">
<input type="submit" value="create">
</form>
<form method="get" action="/pipelineTest/MarkeTa-Bulls/Portfolios">
<input type="submit" value="portfolios">
</form>
<form method="get" action="/pipelineTest/MarkeTa-Bulls/APortfolio">
<input name="selection" type="number">
<input type="submit" value="A portfolio">
</form>
<form method="get" action="/pipelineTest/MarkeTa-Bulls/stockpage">
<input type="submit" value="Stockpage">
</form>
<form method="get" action="/pipelineTest/MarkeTa-Bulls/stock">
<input type="submit" value="Stock">
</form>

</body>
</html>